workflows/sub-aprovacao-humana.json
{
  "name": "SUB: Aprovação Humana",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "account_id",
              "type": "any"
            },
            {
              "name": "conversation_id",
              "type": "any"
            },
            {
              "name": "resposta_sugerida",
              "type": "any"
            },
            {
              "name": "motivo_acao",
              "type": "any"
            },
            {
              "name": "pergunta_usuario"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2880,
        576
      ],
      "id": "39fc342d-c9b8-468a-af09-d8d3e95331e0",
      "name": "Trigger"
    },
    {
      "parameters": {
        "content": "## SUB: Aprovação Humana\n\nPosta sugestão na CONVERSA CENTRAL (id 300) do team aprovacao_ia (id 34).\n\nFluxo:\n1. monta texto + links\n2. POST na central\n3. salva Redis approval:{cliente_conversation_id} (TTL 30min)\n4. aplica label aguardando na conversa do cliente",
        "height": 224,
        "width": 576,
        "color": 5
      },
      "id": "ef2ee728-83c6-43e9-b33e-63f48ee2fad0",
      "name": "Doc",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2768,
        272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "i1",
              "name": "cliente_account_id",
              "value": "={{ $json.account_id }}",
              "type": "number"
            },
            {
              "id": "i2",
              "name": "cliente_conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "i3",
              "name": "resposta_sugerida",
              "value": "={{ $json.resposta_sugerida }}",
              "type": "string"
            },
            {
              "id": "i7",
              "name": "pergunta_cliente",
              "value": "={{ $json.pergunta_usuario }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6dc4cdd6-8f19-43d3-b970-9219977c5461",
      "name": "ctx",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        576
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "texto_central",
              "value": "=🔗 https://chatwoot.example.com/app/accounts/{{ $json.cliente_account_id }}/conversations/{{ $json.cliente_conversation_id }}\n\n🙋 *Pergunta do cliente:* {{ $json.pergunta_cliente }}\n\n💬 *Resposta IA:*\n{{ $json.resposta_sugerida }}\n\n📋 Use o painel *Aprovações IA* na barra lateral para aprovar ou reprovar.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "402f7a9a-cf79-40cc-9048-fd178b3d7c02",
      "name": "monta texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3344,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.example.com/api/v1/accounts/1/conversations/300/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.texto_central) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}",
        "options": {}
      },
      "id": "dc2b734a-074d-45d0-ab5c-c89ad429e251",
      "name": "POST na conversa central",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3584,
        576
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "chatwoot-api"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=approval:{{ $json.id }}",
        "value": "={{ JSON.stringify({ cliente_account_id: $('ctx').item.json.cliente_account_id, cliente_conversation_id: $('ctx').item.json.cliente_conversation_id, resposta_sugerida: $('ctx').item.json.resposta_sugerida, motivo_acao: $('ctx').item.json.motivo_acao, contact_name: $('ctx').item.json.contact_name, pergunta_cliente: $('ctx').item.json.pergunta_cliente, central_message_id: $json.id, created_at: $now.toISO() }) }}",
        "expire": true,
        "ttl": 1800
      },
      "id": "8f1ae630-6bba-47ff-b8e9-21ee11859a02",
      "name": "salva pendência (Redis)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3824,
        448
      ],
      "credentials": {
        "redis": {
          "id": "",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.example.com/api/v1/accounts/{{ $('ctx').item.json.cliente_account_id }}/conversations/{{ $('ctx').item.json.cliente_conversation_id }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"labels\": [\"aguardando_aprovacao_ia\"] }",
        "options": {}
      },
      "id": "981667ad-9edd-40af-b23a-9d227ec05986",
      "name": "label cliente: aguardando",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3824,
        688
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "chatwoot-api"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "ctx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ctx": {
      "main": [
        [
          {
            "node": "monta texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "monta texto": {
      "main": [
        [
          {
            "node": "POST na conversa central",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST na conversa central": {
      "main": [
        [
          {
            "node": "salva pendência (Redis)",
            "type": "main",
            "index": 0
          },
          {
            "node": "label cliente: aguardando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b72b7d2d-a947-4360-a2f1-dc9a720c2c1a",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "RkWEGnafpmSrt7VC",
  "tags": [
    {
      "updatedAt": "2026-04-02T18:22:55.474Z",
      "createdAt": "2026-04-02T18:22:55.474Z",
      "id": "uIDYpUT55W4HmM65",
      "name": "CS"
    },
    {
      "updatedAt": "2026-05-21T20:16:30.455Z",
      "createdAt": "2026-05-21T20:16:30.455Z",
      "id": "o0GTrtLh8YvmbX07",
      "name": "Chatwoot"
    }
  ]
}