workflows/sub-resumo-chat.json
{
  "name": "SUB: Resumo Chat",
  "nodes": [
    {
      "parameters": {
        "content": "## Resumo Chat\n\n**O que faz:**\n1. GET /messages da conversa no Chatwoot\n2. Formata histórico (HTML pronto para Movidesk Description)\n3. IA resume em: problema / dados_coletados / status_do_bot\n4. Envia resumo como private note no Chatwoot",
        "height": 192,
        "width": 480,
        "color": 5
      },
      "id": "52c69674-fe9a-46f3-b2a6-200213386bf6",
      "name": "Doc",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5840,
        1232
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "account_id",
              "type": "number"
            },
            {
              "name": "conversation_id"
            },
            {
              "name": "contact_name"
            }
          ]
        }
      },
      "id": "a325dce1-9497-4d17-a816-577ae186fd33",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        5840,
        1488
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "i1",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "number"
            },
            {
              "id": "i2",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "i3",
              "name": "contact_name",
              "value": "={{ $json.contact_name ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "12dec2ba-bde3-4d62-9e91-9b73b6039b7d",
      "name": "ctx",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6064,
        1488
      ]
    },
    {
      "parameters": {
        "url": "=https://chatwoot.example.com/api/v1/accounts/{{ $('ctx').item.json.account_id }}/conversations/{{ $('ctx').item.json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "e83382ef-e484-4230-907b-a9b8662dc34e",
      "name": "GET /messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6288,
        1488
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "chatwoot-api"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const srcItem = $input.first();\nconst raw = srcItem?.json ?? {};\nconst root = Array.isArray(raw) ? raw[0] : raw;\n\nconst payload =\n  (Array.isArray(root?.payload) && root.payload) ||\n  (Array.isArray(root?.messages) && root.messages) ||\n  (Array.isArray(root?.data) && root.data) ||\n  (Array.isArray(root) && root) ||\n  [];\n\nconst tz = 'America/Sao_Paulo';\nconst dtDate = new Intl.DateTimeFormat('pt-BR', { timeZone: tz, year: 'numeric', month: '2-digit', day: '2-digit' });\nconst dtTime = new Intl.DateTimeFormat('pt-BR', { timeZone: tz, hour: '2-digit', minute: '2-digit' });\n\nfunction toMs(c) {\n  if (!c) return null;\n  if (typeof c === 'number') { const n = Math.abs(c); return n > 1e12 ? n : n * 1000; }\n  const ms = Date.parse(c); return Number.isNaN(ms) ? null : ms;\n}\nfunction stripHtml(s) {\n  return String(s ?? '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>\\s*<p>/gi, '\\n\\n')\n    .replace(/<\\/?(p|strong|b|em|i|span|div|blockquote)[^>]*>/gi, '')\n    .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').trim();\n}\nfunction normalize(s) {\n  return stripHtml(s).replace(/\\r\\n/g, '\\n').replace(/[ \\t]+\\n/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n}\nfunction sender(m) {\n  if (m?.message_type === 2) return 'Sistema';\n  const t = String(m?.sender?.type || '').toLowerCase();\n  if (t === 'contact') return 'Cliente';\n  if (t === 'user') return 'Agente';\n  if (m?.message_type === 0) return 'Cliente';\n  if (m?.message_type === 1) return 'Agente';\n  return 'Desconhecido';\n}\nfunction isNoise(t) {\n  const s = t.toLowerCase();\n  return ['assigned to','automation system added','conversation was marked resolved','conversation was reopened','self-assigned','changed the assignee','added bot_active','marked resolved','reopened'].some(p => s.includes(p));\n}\nfunction isRelevant(t) {\n  const s = t.toLowerCase();\n  return s.includes('fechado_por_inatividade') || s.includes('timeout') || s.includes('inatividade') || s.includes('criado como ticket');\n}\n\nconst msgs = payload\n  .filter(m => !m?.private)\n  .map(m => ({ id: Number(m?.id ?? 0), ms: toMs(m?.created_at), type: m?.message_type, sender: sender(m), text: normalize(m?.content ?? '') }))\n  .filter(m => m.ms && m.text)\n  .sort((a, b) => (a.ms - b.ms) || (a.id - b.id));\n\nconst normal = [], activities = [];\nfor (const m of msgs) {\n  if (m.type === 2) {\n    if (isNoise(m.text) && !isRelevant(m.text)) continue;\n    activities.push(m);\n  } else normal.push(m);\n}\n\nlet out = '', lastDate = null;\nfor (const m of normal) {\n  const d = dtDate.format(new Date(m.ms));\n  if (d !== lastDate) { if (out) out += '\\n\\n'; out += `${d}\\n`; lastDate = d; }\n  out += `${dtTime.format(new Date(m.ms))}  ${m.sender}: ${m.text}\\n`;\n}\nout = out.trim();\n\nif (activities.length) {\n  let act = '', lastActDate = null;\n  for (const m of activities) {\n    const d = dtDate.format(new Date(m.ms));\n    if (d !== lastActDate) { act += (act ? '\\n' : '') + `${d}\\n`; lastActDate = d; }\n    act += `${dtTime.format(new Date(m.ms))}  Sistema: ${m.text}\\n`;\n  }\n  out += `\\n\\nAtividades do sistema\\n${act.trim()}`;\n}\n\nfunction esc(s) { return String(s ?? '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'); }\nconst messages_text = esc(out).replace(/\\n/g, '<br>');\nreturn [{ json: { messages_text, messages_plain: out } }];"
      },
      "id": "c334948f-2185-444b-a2b0-448ab0dde41c",
      "name": "formata histórico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6528,
        1472
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages_plain }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Resuma o atendimento abaixo em 3 campos. Não cite os nomes dos campos no texto.\n\n- problema: descrição direta do que o usuário não está conseguindo fazer.\n- dados_coletados: array com IDs/nomes/números/valores citados. Se nada foi informado, use ['Dados não fornecidos'].\n- status_do_bot: o que o bot já tentou e o estado atual, sem passo a passo."
            }
          ]
        },
        "batching": {}
      },
      "id": "d460cb33-b568-4b45-8661-ffdb470c8014",
      "name": "IA resumo",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        6768,
        1472
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "1fd6e624-2618-41d9-a7bf-646e9d0ebb43",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        6768,
        1680
      ],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\"problema\",\"dados_coletados\",\"status_do_bot\"],\n  \"properties\": {\n    \"problema\": { \"type\": \"string\" },\n    \"dados_coletados\": { \"type\": \"array\", \"minItems\": 1, \"items\": { \"type\": \"string\" } },\n    \"status_do_bot\": { \"type\": \"string\" }\n  }\n}"
      },
      "id": "9c0e7e2f-97ea-45f5-bdd4-d2ced4befb93",
      "name": "Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        6912,
        1680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "resumo",
              "value": "=🧠 Resumo automático do atendimento (IA)\n\n• Problema/dúvida: {{ $json.output.problema }}\n\n• Dados coletados: {{ ($json.output.dados_coletados ?? []).join(', ') }}\n\n• Ações do bot: {{ $json.output.status_do_bot }}",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "problema",
              "value": "={{ $json.output.problema }}",
              "type": "string"
            },
            {
              "id": "r3",
              "name": "dados_coletados",
              "value": "={{ $json.output.dados_coletados }}",
              "type": "array"
            },
            {
              "id": "r4",
              "name": "status_do_bot",
              "value": "={{ $json.output.status_do_bot }}",
              "type": "string"
            },
            {
              "id": "r5",
              "name": "messages_text",
              "value": "={{ $('formata histórico').item.json.messages_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f6484e88-c2ed-4edb-9d1c-04054d278e36",
      "name": "monta resumo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7136,
        1472
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.example.com/api/v1/accounts/{{ $('ctx').item.json.account_id }}/conversations/{{ $('ctx').item.json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.resumo) }},\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}",
        "options": {}
      },
      "id": "f4f71e48-e59f-4b75-a6c2-98c9d9e8bb91",
      "name": "envia private note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7376,
        1472
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "chatwoot-api"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "ctx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ctx": {
      "main": [
        [
          {
            "node": "GET /messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /messages": {
      "main": [
        [
          {
            "node": "formata histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata histórico": {
      "main": [
        [
          {
            "node": "IA resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "ai_languageModel": [
        [
          {
            "node": "IA resumo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "IA resumo",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "IA resumo": {
      "main": [
        [
          {
            "node": "monta resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "monta resumo": {
      "main": [
        [
          {
            "node": "envia private note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "242ac173-c156-4927-93db-d237f2c2d9dd",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "OJsMe97nPLBosoyD",
  "tags": [
    {
      "updatedAt": "2026-04-02T18:22:55.474Z",
      "createdAt": "2026-04-02T18:22:55.474Z",
      "id": "uIDYpUT55W4HmM65",
      "name": "CS"
    },
    {
      "updatedAt": "2026-05-21T20:16:30.455Z",
      "createdAt": "2026-05-21T20:16:30.455Z",
      "id": "o0GTrtLh8YvmbX07",
      "name": "Chatwoot"
    }
  ]
}