workflows/workflows/orquestrador-chatwoot.json
{
  "name": "Orquestrador Chatwoot",
  "nodes": [
    {
      "parameters": {
        "content": "## Orquestrador Chatwoot \n\n**5 etapas:**\n1. INGESTÃO  — webhook + filtro + mapeia ctx\n2. CONTEXTO  — get conversa + status SQL + buffer Redis\n3. RACIOCÍNIO — AI Agent (RAG + memória + parser)\n4. APROVAÇÃO — sub_aprovacao_humana (private note + reaction)\n5. EXECUÇÃO  — transferir N1 / encerrar / responder (via callback)\n",
        "height": 248,
        "width": 648,
        "color": 3
      },
      "id": "52993896-339c-427c-b44d-0f3198338fb6",
      "name": "Doc - Arquitetura",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT conversation_id, status_conversa, movidesk_ticket_id FROM n8n_controle_atendimento_chatwoot WHERE conversation_id = {{ $('ctx (mapeia dados)').item.json.conversation_id }};",
        "options": {}
      },
      "id": "c6ca4be5-1cc6-4416-b6da-8199c079a515",
      "name": "[2] verifica status SQL",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1744,
        592
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "",
          "name": "SQL Server account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rs1",
                    "leftValue": "={{ $json.status_conversa }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "NOVA"
            },
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rs2",
                    "leftValue": "={{ $json.status_conversa }}",
                    "rightValue": "ATIVA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ATIVA"
            },
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rs3",
                    "leftValue": "={{ $json.status_conversa }}",
                    "rightValue": "RESOLVIDA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "RESOLVIDA"
            }
          ]
        },
        "options": {}
      },
      "id": "e81e151a-346f-4068-b6ee-20b0a2646ed9",
      "name": "[2] roteador status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1984,
        576
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_controle_atendimento_chatwoot (conversation_id, status_conversa, data_atualizacao) VALUES ({{ $('ctx (mapeia dados)').item.json.conversation_id }}, 'ATIVA', GETDATE());",
        "options": {}
      },
      "id": "af9a0e47-a4ff-41df-93cf-81e7c829d92e",
      "name": "[2] cria registro SQL",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2720,
        432
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "",
          "name": "SQL Server account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rr1",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "[REABRIR]",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "reabrir"
            },
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rr2",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "[AGRADECIMENTO]",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "resolver"
            }
          ]
        },
        "options": {}
      },
      "id": "9be42edf-8027-425a-8b07-f7026dcc00d9",
      "name": "[2] reabrir ou resolver?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2816,
        944
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE n8n_controle_atendimento_chatwoot SET status_conversa='ATIVA', data_atualizacao=GETDATE() WHERE conversation_id={{ $('ctx').item.json.conversation_id }};",
        "options": {}
      },
      "id": "748eaa48-cb07-4929-a178-f7e04df2d9ce",
      "name": "[2] reativa SQL",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3040,
        928
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "",
          "name": "SQL Server account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('ctx (mapeia dados)').item.json.conversation_id }}_buffer",
        "messageData": "={{ $('ctx (mapeia dados)').item.json.content_text }}",
        "tail": true
      },
      "id": "b3b0e405-60fc-4879-97ee-e0b0caf370c0",
      "name": "[2] Buffer: PUSH",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3568,
        592
      ],
      "credentials": {
        "redis": {
          "id": "",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0
      },
      "id": "f68355c6-6fe2-4752-94b8-18f69080ebc7",
      "name": "[2] Buffer: WAIT 8s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3808,
        592
      ],
      "webhookId": "6c6d3bb0-8110-4d4e-aa45-70427266f343"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('ctx (mapeia dados)').item.json.conversation_id }}_buffer",
        "options": {}
      },
      "id": "a556ae94-ddf6-4db0-ac5a-d5a0b0c325d5",
      "name": "[2] Buffer: GET",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4048,
        592
      ],
      "credentials": {
        "redis": {
          "id": "",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bi1",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "21fd876b-9f42-4f3d-9088-a5c7eccce8a1",
      "name": "[2] Buffer: tem msgs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4288,
        592
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('ctx (mapeia dados)').item.json.conversation_id }}_buffer"
      },
      "id": "d4c90cb4-8bdd-4959-92ec-93b34424b2e7",
      "name": "[2] Buffer: DEL",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4512,
        576
      ],
      "credentials": {
        "redis": {
          "id": "",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bm1",
              "name": "message",
              "value": "={{ ($('[2] Buffer: GET').item.json.messages || []).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6cc9980b-a37d-4cf6-95a7-d32d3889996d",
      "name": "[2] centraliza mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4752,
        576
      ]
    },
    {
      "parameters": {
        "content": "## RACIOCÍNIO IA\nAI Agent com RAG (PGVector) + memória (Postgres) + Output Parser.\nSaída JSON: { pensamento, resposta_para_usuario, acao, motivo_acao }\nacao ∈ { responder, transferir, encerrar }",
        "height": 136,
        "width": 560,
        "color": 5
      },
      "id": "e4e310a2-aa72-408b-b38c-1828d8420ee6",
      "name": "Doc - Etapa 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4976,
        416
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ra1",
                    "leftValue": "={{ $json.output.acao }}",
                    "rightValue": "responder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "responder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ra2",
                    "leftValue": "={{ $json.output.acao }}",
                    "rightValue": "transferir",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "transferir"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ra3",
                    "leftValue": "={{ $json.output.acao }}",
                    "rightValue": "encerrar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "encerrar"
            }
          ]
        },
        "options": {}
      },
      "id": "8c1fb70c-0577-4f1b-b8a7-e9f6f78db60b",
      "name": "[5] roteador ação IA",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        5728,
        560
      ]
    },
    {
      "parameters": {
        "content": "## APROVAÇÃO HUMANA\nDelegado para `sub_aprovacao_humana`:\n• salva sugestão em Redis (TTL 30min)\n• adiciona label aguardando_aprovacao_ia\n• envia private note com 👍/👎\nO callback (`sub_callback_aprovacao`) finaliza.",
        "height": 168,
        "width": 480,
        "color": 6
      },
      "id": "95be70d3-58eb-423d-a189-97b08d6ea266",
      "name": "Doc - Etapa 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6160,
        32
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RkWEGnafpmSrt7VC",
          "mode": "list",
          "cachedResultUrl": "/workflow/RkWEGnafpmSrt7VC",
          "cachedResultName": "SUB: Aprovação Humana"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('ctx (mapeia dados)').item.json.conversation_id }}",
            "resposta_sugerida": "={{ $json.output.resposta_para_usuario }}",
            "motivo_acao": "={{ $json.output.motivo_acao }}",
            "account_id": "={{ $('ctx (mapeia dados)').item.json.account_id }}",
            "pergunta_usuario": "={{ $('[2] centraliza mensagem').item.json.message }}"
          },
          "matchingColumns": [
            ""
          ],
          "schema": [
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resposta_sugerida",
              "displayName": "resposta_sugerida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "motivo_acao",
              "displayName": "motivo_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pergunta_usuario",
              "displayName": "pergunta_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "38e8788f-c752-47db-b596-611fd8db7ca0",
      "name": "[4] → sub_aprovacao_humana",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        6176,
        240
      ]
    },
    {
      "parameters": {
        "content": "## TRANSFERIR N1\nGET agentes do team → IF tem agente online?\nSim → atribui_N1 + label + aguarde.\nNão → atribui_N1 + label + aviso \"abertura de chamado\" + resumo Movidesk.",
        "height": 132,
        "width": 480,
        "color": 4
      },
      "id": "ace6f3ce-8800-4780-b5a9-0fab4aecf6d6",
      "name": "Doc - Transferir N1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6160,
        416
      ]
    },
    {
      "parameters": {
        "url": "=https://chatwoot.example.com/api/v1/accounts/{{ $('ctx (mapeia dados)').item.json.account_id }}/teams/2/team_members",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "8654df21-a963-42d9-b56b-71d49188eb44",
      "name": "[5T] GET agentes N1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6416,
        576
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "chatwoot-api"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "912b3200-2cef-46f1-9f26-33bdb796f901",
      "name": "[5T] aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6656,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "no1",
              "leftValue": "={{ ($json.data ?? []).filter(a => a.availability_status === 'online').length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c38625e4-063e-41e6-b1de-67f4c9c07c30",
      "name": "[5T] tem agente online?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6912,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.example.com/api/v1/accounts/{{ $('ctx (mapeia dados)').item.json.account_id }}/conversations/{{ $('ctx (mapeia dados)').item.json.conversation_id }}/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"team_id\": 2 }",
        "options": {}
      },
      "id": "a3363a5c-729c-4236-80e0-f6def6286e4a",
      "name": "[5T] atribui ao N1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7152,
        224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.example.com/api/v1/accounts/{{ $('ctx (mapeia dados)').item.json.account_id }}/conversations/{{ $('ctx (mapeia dados)').item.json.conversation_id }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"labels\": [\"suporte_n1\"] }",
        "options": {}
      },
      "id": "ed602409-9849-4730-94f4-fe8b63424f5f",
      "name": "[5T] label suporte_n1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7392,
        224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.example.com/api/v1/accounts/{{ $('ctx (mapeia dados)').item.json.account_id }}/conversations/{{ $('ctx (mapeia dados)').item.json.conversation_id }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"labels\": [\"atendimento_via_ticket\"] }",
        "options": {}
      },
      "id": "32433b12-4423-4212-94d9-74882e2b61bc",
      "name": "[5T] label atendimento_via_ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7392,
        576
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "content": "## ENCERRAR\nAvisa cliente → resolve conversa → label resolvido_pelo_bot →\natualiza SQL → envia CSAT (notas + comentário).",
        "height": 116,
        "width": 480,
        "color": 4
      },
      "id": "1ace3432-6463-4c08-a4f9-7ad6f1e83707",
      "name": "Doc - Encerrar",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6160,
        816
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NqwXrwI0A1bkBfjS",
          "mode": "list",
          "cachedResultUrl": "/workflow/NqwXrwI0A1bkBfjS",
          "cachedResultName": "SUB: Envia mensagem"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "account_id ": "={{ $('ctx (mapeia dados)').item.json.account_id }}",
            "conversation_id": "={{ $('ctx (mapeia dados)').item.json.conversation_id }}",
            "content": "Perfeito! Vou encerrar este atendimento agora. Se precisar de algo depois, fico à disposição.",
            "private": "false"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "account_id ",
              "displayName": "account_id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "private",
              "displayName": "private",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "09534d59-9f08-40cc-ae36-5ce781c4fdf5",
      "name": "[5E] avisa que vai resolver",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        6160,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.example.com/api/v1/accounts/{{ $('ctx (mapeia dados)').item.json.account_id }}/conversations/{{ $('ctx (mapeia dados)').item.json.conversation_id }}/toggle_status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"resolved\" }",
        "options": {}
      },
      "id": "8b8a6dd7-24d0-4cfa-b0d5-5f135bec11e5",
      "name": "[5E] resolve conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6416,
        960
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.example.com/api/v1/accounts/{{ $('ctx (mapeia dados)').item.json.account_id }}/conversations/{{ $('ctx (mapeia dados)').item.json.conversation_id }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"labels\": [\"resolvido_pelo_bot\"] }",
        "options": {}
      },
      "id": "ac9dde75-fe19-4f6b-9b92-04dd8b09dd65",
      "name": "[5E] label resolvido_pelo_bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6656,
        960
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE n8n_controle_atendimento_chatwoot SET status_conversa='RESOLVIDA', data_atualizacao=GETDATE() WHERE conversation_id={{ $('ctx').item.json.conversation_id }};",
        "options": {}
      },
      "id": "0bc99fa2-415f-42ab-9870-35f381fca0f9",
      "name": "[5E] atualiza SQL = RESOLVIDA",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        6912,
        960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "",
          "name": "SQL Server account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.example.com/api/v1/accounts/{{ $('ctx (mapeia dados)').item.json.account_id }}/conversations/{{ $('ctx (mapeia dados)').item.json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_type\": \"input_select\",\n  \"content\": \"Como você avalia nosso atendimento automático?\",\n  \"content_attributes\": { \"items\": [\n    { \"title\": \"⭐ 5 - Excelente\", \"value\": \"5\" },\n    { \"title\": \"⭐ 4 - Muito bom\", \"value\": \"4\" },\n    { \"title\": \"⭐ 3 - Regular\", \"value\": \"3\" },\n    { \"title\": \"⭐ 2 - Ruim\", \"value\": \"2\" },\n    { \"title\": \"⭐ 1 - Péssimo\", \"value\": \"1\" }\n  ] }\n}",
        "options": {}
      },
      "id": "a89dd879-971c-4444-bf1c-a8ff2272e119",
      "name": "[5E] CSAT notas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7152,
        960
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.example.com/api/v1/accounts/{{ $('ctx (mapeia dados)').item.json.account_id }}/conversations/{{ $('ctx (mapeia dados)').item.json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"Deixe seu comentário:\",\n  \"content_type\": \"form\",\n  \"content_attributes\": { \"items\": [ { \"name\": \"comment\", \"label\": \"Deixe seu comentário\", \"placeholder\": \"Escreva aqui...\", \"type\": \"text_area\", \"required\": false } ] },\n  \"private\": false\n}",
        "options": {}
      },
      "id": "d919ff31-9b45-4ec4-b78d-e75f1b3c874e",
      "name": "[5E] CSAT comentário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7392,
        960
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot_message_created",
        "options": {}
      },
      "id": "04e99c55-aab4-48c9-a53d-ad99b74d8bbd",
      "name": "Chatwoot - Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        544,
        640
      ],
      "webhookId": "dd7f55a8-3e24-4558-8d5e-20cd64b9c3c8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('ctx').item.json.content_text }}",
        "messages": {
          "messageValues": [
            {
              "message": "Classifique a última mensagem do cliente em uma conversa já encerrada.\n[AGRADECIMENTO]: cortesia (\"obrigado\", \"valeu\", \"era isso\", \"tchau\").\n[REABRIR]: nova dúvida, problema retornou, pergunta complementar.\nResponda APENAS com a tag. Sem explicações."
            }
          ]
        },
        "batching": {}
      },
      "id": "c6930f81-ca15-4aa8-aeca-b8d7254ec98c",
      "name": "Reabertura: IA classifica",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2432,
        944
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "073b589d-b726-43c7-8345-d5aec8df21ab",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2432,
        1136
      ],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NqwXrwI0A1bkBfjS",
          "mode": "list",
          "cachedResultUrl": "/workflow/NqwXrwI0A1bkBfjS",
          "cachedResultName": "SUB: Envia mensagem"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "account_id ": "={{ $('ctx (mapeia dados)').item.json.account_id }}",
            "conversation_id": "={{ $('ctx (mapeia dados)').item.json.conversation_id }}",
            "content": "Verifiquei e no momento não há agente online. Vou registrar um chamado e a equipe entrará em contato assim que possível.",
            "private": "false"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "account_id ",
              "displayName": "account_id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "private",
              "displayName": "private",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "1cfa4099-ca4c-4b2e-9760-9c959306e045",
      "name": "[5T] aviso chamado (sub)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        7152,
        576
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NqwXrwI0A1bkBfjS",
          "mode": "list",
          "cachedResultUrl": "/workflow/NqwXrwI0A1bkBfjS",
          "cachedResultName": "SUB: Envia mensagem"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "account_id ": "={{ $('ctx (mapeia dados)').item.json.account_id }}",
            "conversation_id": "={{ $('ctx (mapeia dados)').item.json.conversation_id }}",
            "content": "Não localizei uma resposta adequada para essa solicitação. Vou direcionar para o atendimento N1, que dará continuidade. Um momento, por gentileza.",
            "private": "false"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "account_id ",
              "displayName": "account_id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "private",
              "displayName": "private",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "1172e4a1-e64e-4103-836e-e162d2e02af6",
      "name": "[5T] aviso handoff (sub)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        7632,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OJsMe97nPLBosoyD",
          "mode": "list",
          "cachedResultUrl": "/workflow/OJsMe97nPLBosoyD",
          "cachedResultName": "SUB: Resumo Chat"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('ctx (mapeia dados)').item.json.conversation_id }}",
            "account_id": "={{ $('ctx (mapeia dados)').item.json.account_id }}",
            "contact_name": "={{ $('ctx (mapeia dados)').item.json.contact_name ?? 0}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact_name",
              "displayName": "contact_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "c3062471-63f1-4961-9ce0-d684727f2fb9",
      "name": "[5T] → sub_resumo",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        7632,
        576
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "x1",
              "name": "account_id",
              "value": "={{ $('Chatwoot - Webhook1').item.json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "x2",
              "name": "inbox_id",
              "value": "={{ $('Chatwoot - Webhook1').item.json.body.conversation.inbox_id }}",
              "type": "string"
            },
            {
              "id": "x3",
              "name": "conversation_id",
              "value": "={{ $('Chatwoot - Webhook1').item.json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "x4",
              "name": "message_id",
              "value": "={{ $('Chatwoot - Webhook1').item.json.body.conversation.messages[0].id }}",
              "type": "string"
            },
            {
              "id": "x5",
              "name": "contact_inbox_id",
              "value": "={{ $('Chatwoot - Webhook1').item.json.body.conversation.contact_inbox.inbox_id }}",
              "type": "string"
            },
            {
              "id": "x6",
              "name": "source_id",
              "value": "={{ $('Chatwoot - Webhook1').item.json.body.conversation.contact_inbox.source_id }}",
              "type": "string"
            },
            {
              "id": "x7",
              "name": "content_text",
              "value": "={{ $('Chatwoot - Webhook1').item.json.body.content }}",
              "type": "string"
            },
            {
              "id": "x8",
              "name": "contact_name",
              "value": "={{ $('Chatwoot - Webhook1').item.json.body.conversation.messages[0].sender.name }}",
              "type": "string"
            },
            {
              "id": "x9",
              "name": "conversation_status",
              "value": "={{ $('Chatwoot - Webhook1').item.json.body.conversation.status }}",
              "type": "string"
            },
            {
              "id": "x10",
              "name": "team_name",
              "value": "={{ $('Chatwoot - Webhook1').item.json.body.conversation.meta?.team?.name ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "60565dfd-2097-4f29-bd97-f2268a959121",
      "name": "ctx (mapeia dados)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "message_created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c3",
              "leftValue": "={{ $json.body.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "42273431-2109-47b1-b3f0-f0ea2d324025",
      "name": "é msg do usuário?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        640
      ]
    },
    {
      "parameters": {
        "url": "=https://chatwoot.example.com/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "bfe7f12e-5d32-4e57-a88c-98b997b45aa4",
      "name": "GET conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        624
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "chatwoot-api"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1",
              "leftValue": "={{ $json.meta.team.name }}",
              "rightValue": "bot",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "25e9383f-8d02-4b90-be98-828db4c46008",
      "name": "team = bot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1504,
        608
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"pensamento\": \"...\",\n  \"resposta_para_usuario\": \"...\",\n  \"acao\": \"responder\",\n  \"motivo_acao\": \"...\"\n}"
      },
      "id": "b8491a84-c004-44fd-8d3e-d2265bc76362",
      "name": "Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        5504,
        832
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Data de hoje: {{ $now }}\n\nVocê é um Analista de Suporte Sênior do Obra Prima focado em alta eficiência.\nPersona: especialista direto, gentil e sem rodeios. Estilo chat de Slack/WhatsApp, não email.\n\nDiretrizes:\n1. ZERO GORDURA: comece pela ação. Proibido \"Para fazer isso...\", \"Veja bem...\".\n2. NAVEGAÇÃO: use **Menu > Submenu > Ação**.\n3. SÍNTESE: agrupe passos lógicos.\n4. PROIBIDO GANCHOS: não pergunte \"Quer saber sobre X?\".\n5. Não use cortesia robótica.\n\nFluxo:\n1. Social (oi/tchau) → responda em 1 linha, acao=responder.\n2. Técnica → consulte RAG, resposta mínima viável, acao=responder.\n3. Se usuário agradece/confirma (\"valeu\", \"entendi\") → pergunte se há mais algo. acao=responder.\n4. Se usuário confirma que NÃO precisa de nada → despeça-se. acao=encerrar.\n5. Sem info no RAG e não é social → acao=transferir.\n\nProibido inventar funcionalidades ou oferecer ajuda não solicitada.\nSe resposta da dúvida não é encontrada no RAG, ação obrigatoriamente deve ser transferir.\n\nSaída JSON estrita:\n{ \"pensamento\":\"...\", \"resposta_para_usuario\":\"...\", \"acao\":\"responder|transferir|encerrar\", \"motivo_acao\":\"...\" }"
        }
      },
      "id": "7be37972-255c-425d-b350-7b47099c57e2",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5152,
        576
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "gpt-5.4"
        },
        "builtInTools": {},
        "options": {
          "reasoningEffort": "low",
          "serviceTier": "flex"
        }
      },
      "id": "49155782-7c82-4780-8af1-97679e0d7ad3",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4960,
        832
      ],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d9b7f8dc-e359-4963-8e21-2ea15c6ed6cb",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        5216,
        1008
      ],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca informações técnicas. Sempre consulte antes de responder dúvida técnica.",
        "tableName": "n8n_rag_support_tickets",
        "options": {}
      },
      "id": "f32f4869-ce26-4e9b-a9f4-1448838655ab",
      "name": "PGVector RAG",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        5216,
        832
      ],
      "credentials": {
        "postgres": {
          "id": "",
          "name": "POSTGRES _ PROD - Não mexer"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Qkmf6VN0vI1gr0Ad",
          "mode": "list",
          "cachedResultUrl": "/workflow/Qkmf6VN0vI1gr0Ad",
          "cachedResultName": "SUB: Suporte RAG - Métricas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pergunta": "={{ $('[2] centraliza mensagem').item.json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "pergunta",
              "displayName": "pergunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resposta",
              "displayName": "resposta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6160,
        576
      ],
      "id": "7b04ddb5-9129-4f40-bb94-a575fc8b93ab",
      "name": "Call 'SUB: Suporte RAG - Métricas'1",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('ctx (mapeia dados)').item.json.conversation_id }}",
        "tableName": "n8n_chat_support_memory",
        "contextWindowLength": 8
      },
      "id": "ff54b873-15dc-423d-b043-1fd5b60940f5",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5088,
        832
      ],
      "credentials": {
        "postgres": {
          "id": "",
          "name": "POSTGRES _ PROD - Não mexer"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "[2] verifica status SQL": {
      "main": [
        [
          {
            "node": "[2] roteador status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[2] roteador status": {
      "main": [
        [
          {
            "node": "[2] cria registro SQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[2] Buffer: PUSH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reabertura: IA classifica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[2] cria registro SQL": {
      "main": [
        [
          {
            "node": "[2] Buffer: PUSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[2] reabrir ou resolver?": {
      "main": [
        [
          {
            "node": "[2] reativa SQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[5E] avisa que vai resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[2] reativa SQL": {
      "main": [
        [
          {
            "node": "[2] Buffer: PUSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[2] Buffer: PUSH": {
      "main": [
        [
          {
            "node": "[2] Buffer: WAIT 8s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[2] Buffer: WAIT 8s": {
      "main": [
        [
          {
            "node": "[2] Buffer: GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[2] Buffer: GET": {
      "main": [
        [
          {
            "node": "[2] Buffer: tem msgs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[2] Buffer: tem msgs?": {
      "main": [
        [
          {
            "node": "[2] Buffer: DEL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[2] Buffer: DEL": {
      "main": [
        [
          {
            "node": "[2] centraliza mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[2] centraliza mensagem": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[5] roteador ação IA": {
      "main": [
        [
          {
            "node": "[4] → sub_aprovacao_humana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'SUB: Suporte RAG - Métricas'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[5E] avisa que vai resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[5T] GET agentes N1": {
      "main": [
        [
          {
            "node": "[5T] aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[5T] aggregate": {
      "main": [
        [
          {
            "node": "[5T] tem agente online?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[5T] tem agente online?": {
      "main": [
        [
          {
            "node": "[5T] atribui ao N1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[5T] aviso chamado (sub)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[5T] atribui ao N1": {
      "main": [
        [
          {
            "node": "[5T] label suporte_n1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[5T] label suporte_n1": {
      "main": [
        [
          {
            "node": "[5T] aviso handoff (sub)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[5T] label atendimento_via_ticket": {
      "main": [
        [
          {
            "node": "[5T] → sub_resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[5E] avisa que vai resolver": {
      "main": [
        [
          {
            "node": "[5E] resolve conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[5E] resolve conversa": {
      "main": [
        [
          {
            "node": "[5E] label resolvido_pelo_bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[5E] label resolvido_pelo_bot": {
      "main": [
        [
          {
            "node": "[5E] atualiza SQL = RESOLVIDA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[5E] atualiza SQL = RESOLVIDA": {
      "main": [
        [
          {
            "node": "[5E] CSAT notas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[5E] CSAT notas": {
      "main": [
        [
          {
            "node": "[5E] CSAT comentário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot - Webhook1": {
      "main": [
        [
          {
            "node": "é msg do usuário?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reabertura: IA classifica": {
      "main": [
        [
          {
            "node": "[2] reabrir ou resolver?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Reabertura: IA classifica",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "[5T] aviso chamado (sub)": {
      "main": [
        [
          {
            "node": "[5T] label atendimento_via_ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ctx (mapeia dados)": {
      "main": [
        [
          {
            "node": "GET conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é msg do usuário?": {
      "main": [
        [
          {
            "node": "ctx (mapeia dados)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET conversa": {
      "main": [
        [
          {
            "node": "team = bot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "team = bot?": {
      "main": [
        [
          {
            "node": "[2] verifica status SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "PGVector RAG",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "PGVector RAG": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "[5] roteador ação IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SUB: Suporte RAG - Métricas'1": {
      "main": [
        [
          {
            "node": "[5T] GET agentes N1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4e7dfcf2-fb10-4970-908a-f0fba85bcae4",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "fMF5pb8HI3vAb4JuUvUf0",
  "tags": [
    {
      "updatedAt": "2026-04-02T18:22:55.474Z",
      "createdAt": "2026-04-02T18:22:55.474Z",
      "id": "uIDYpUT55W4HmM65",
      "name": "CS"
    },
    {
      "updatedAt": "2026-05-21T20:16:30.455Z",
      "createdAt": "2026-05-21T20:16:30.455Z",
      "id": "o0GTrtLh8YvmbX07",
      "name": "Chatwoot"
    }
  ]
}